{% extends 'layout.html.twig' %}

{% block title %}Softwares{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de softwares</h1>
        {% if is_granted('SOFTWARE_CREAR') %}
            <a href="{{ path('software_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo software</a>
        {% endif %}
    </div>

    {% if softwares is defined and softwares is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm dt">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Fecha de renovación</th>
                <th>Empresa</th>
                <th class="no">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for software in softwares %}
            <tr>
                <td>{{ software.nombre }}</td>
                <td>{{ software.tipo }}</td>
                <td>{{ software.fechaRenovacion|date('d/m/Y') }}</td>
                <td>{{ software.empresa }}</td>
                <td>
                    {% if is_granted('SOFTWARE_VER', software) %}
                        <a href="{{ path('software_detalles', {'id': software.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                    {% endif %}
                    {% if is_granted('SOFTWARE_EDITAR', software) %}
                    <a href="{{ path('software_editar', {'id': software.id}) }}" title="Editar software" class="icono"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('software_eliminar', {'id': software.id}) }}" title="Eliminar software" class="icono"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay softwares que mostrar</p>
    {% endif %}
{% endblock %}
