{% extends 'layout.html.twig' %}

{% block title %}Softwares{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de softwares</h1>
        <a href="{{ path('software_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo software</a>
    </div>

    {% if softwares is defined and softwares is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm dt">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Fecha de renovación</th>
                <th>Notas</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for software in softwares %}
            <tr>
                <td><a href="{{ path('software_editar', {'id': software.id}) }}" title="Editar software"><i class="fas fa-pencil-alt"></i></a></td>
                <td>{{ software.nombre }}</td>
                <td>{{ software.tipo }}</td>
                <td>{{ software.usuario }}</td>
                <td>{{ software.password }}</td>
                <td>{{ software.fechaRenovacion|date('d/m/Y') }}</td>
                <td>{% if software.notas %} {{ software.notas }} {% endif %}</td>
                <td>{{ software.empresa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay softwares que mostrar</p>
    {% endif %}
{% endblock %}
