{% extends 'layout.html.twig' %}

{% block title %}Servidor{% endblock %}

{% block content %}
    {#<h1>{{ software.id ? 'Datos del software ' software.nombre : 'Nuevo software' }}</h1>#}
    {% if servidor.id %}
        <h1>Datos del servidor</h1>
    {% else %}
        <h1>Nuevo servidor</h1>
    {% endif %}
    {# Pendiente solucionar el tema del encabezado #}

    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formulario) }}

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <p>* Los campos marcados son obligatorios</p>
            {# Lo dejo por si consigo solucionar mi problema #}
            {% if empresa is defined and empresa is not null %}
            <a href="{{ path('empresa_servicios_mostrar', {'id': empresa.id}) }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de servicios de la empresa</a>
            {% else %}
                <a href="{{ path('servidor_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de servidores</a>
            {% endif %}
            <button type="submit" class="btn btn-success">Guardar cambios</button>
            {% if servidor.id %}
                <a href="{{ path('servidor_eliminar', {'id': servidor.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
            {% endif %}
        </div>
    </div>
    {{ form_end(formulario) }}

{% endblock %}