{% extends 'layout.html.twig' %}

{% block title %}Servidores{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de servidores</h1>
        <a href="{{ path('servidor_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo servidor</a>
    </div>

    {% if servidores is defined and servidores is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-md dt">
        <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>IP</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Detalles</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for servidor in servidores %}
            <tr>
                <th><a href="{{ path('servidor_editar', {'id': servidor.id}) }}" title="Editar servidor"><i class="fas fa-pencil-alt"></i></a></th>
                <td>{{ servidor.nombre }}</td>
                <td>{{ servidor.ip }}</td>
                <td>{{ servidor.usuario }}</td>
                <td>{{ servidor.pass }}</td>
                <td>{{ servidor.detalles }}</td>
                <td>{{ servidor.empresa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay servidores que mostrar</p>
    {% endif %}
{% endblock %}
