{% extends 'layout.html.twig' %}

{% form_theme formulario 'form/form_row.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block content %}
    <h1>{{ empresa.id ? empresa.nombre : 'Nueva empresa' }}</h1>
    {# Pendiente solucionar el tema del encabezado #}

    {{ form_start(formulario, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(formulario) }}

    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <p>* Los campos marcados son obligatorios</p>
            <a href="{{ path('empresa_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de empresas</a>
            <button type="submit" class="btn btn-success">Guardar cambios</button>
            {% if empresa.id %}
                <a href="{{ path('empresa_eliminar', {'id': empresa.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
            {% endif %}
        </div>
    </div>
    {{ form_end(formulario) }}

{% endblock %}