{% extends 'layout.html.twig' %}

{% block title %}Listado de empresas{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de empresas</h1>
        {% if is_granted ('EMPRESA_CREAR') %}
        <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva empresa</a>
        {% endif %}
    </div>

    {% if empresas is defined and empresas is not empty %}
    <table class="table table-bordered table-hover table-striped dt">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>CIF</th>
                <th class="no">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.cif }}</td>
                <td>
                    {% if is_granted('EMPRESA_VER', empresa) %}
                    <a href="{{ path('empresa_servicios_mostrar', {'id': empresa.id}) }}" title="Ver servicios contratados"><i class="far fa-eye"></i> </a>
                    {% endif %}
                    {% if is_granted('EMPRESA_EDITAR', empresa) %}
                    <a href="{{ path('empresa_editar', {'id': empresa.id}) }}" title="Editar datos de la empresa" class="btn btn-primary"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                    {% if empresa.id and is_granted('EMPRESA_ELIMINAR', empresa)%}
                    <a href="{{ path('empresa_eliminar', {'id': empresa.id}) }}" title="Eliminar" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay empresas que mostrar</p>
    {% endif %}
{% endblock %}
