{% extends 'layout.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Servicios de la empresa {{ empresa.nombre }} </h1>
        <a href="{{ path('empresa_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de empresas</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Softwares</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo software</a>
        </div>

            {% if softwares is not empty %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha de renovación</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for software in softwares %}
                        <tr>
                            <td>{{ software.nombre }}</td>
                            <td>{{ software.tipo }}</td>
                            <td>{{ software.fechaRenovacion|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
        <div class="panel-body">
                <p>No dispone de softwares instalados.</p>
        </div>
            {% endif %}

    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Configuraciones de red</h3>
            <a href="{{ path('confired_nueva', {'id': empresa.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva configuración de red</a>
        </div>
        {% if confiRedes is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Dominio</th>
                </tr>
                </thead>
                <tbody>
                {% for confiRed in confiRedes %}
                    <tr>
                        <td>{{ confiRed.dominio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p>No dispone de configuraciones de red.</p>
            </div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Servidores</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo servidor</a>
        </div>

        {% if servidores is not empty %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                {% for servidor in servidores %}
                    <tr>
                        <td>{{ servidor.nombre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p>No dispone de servidores.</p>
            </div>
        {% endif %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Dispositivos de red</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo dispositivo de red</a>
        </div>

            {% if dispositivos is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>IP</th>
                </tr>
                </thead>
                <tbody>
                {% for dispositivo in dispositivos %}
                    <tr>
                        <td>{{ dispositivo.tipo }}</td>
                        <td>{{ dispositivo.ip }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
        <div class="panel-body">
                <p>No dispone de dispositivos de red.</p>
        </div>
            {% endif %}

    </div>
{% endblock %}
