{% extends 'layout.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Servicios de la empresa <strong>{{ empresa.nombre }}</strong></h1>
        <a href="{{ path('empresa_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de empresas</a>
    </div>

    <article class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Configuraciones de red</h3>
            {% if is_granted ('CONFIRED_CREAR') %}
                <a href="{{ path('confired_servicio_nueva', {'id': empresa.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva configuración de red</a>
            {% endif %}
        </div>
        {% if confiRedes is defined and confiRedes is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Dominio</th>
                    <th>Máscara de red</th>
                    <th>IP fija externa</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for confiRed in confiRedes %}
                    <tr>
                        <td>{{ confiRed.dominio }}</td>
                        <td>{{ confiRed.mascaraRed }}</td>
                        <td>{{ confiRed.ipFijaExt }}</td>
                        <td>
                            {% if is_granted('CONFIRED_VER', confiRed) %}
                                <a href="{{ path('confired_servicio_detalles', {'id': confiRed.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                            {% endif %}
                            {% if is_granted('CONFIRED_EDITAR', confiRed) %}
                                <a href="{{ path('confired_servicio_editar', {'id': confiRed.id}) }}" title="Editar configuración" class="icono"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('confired_servicio_eliminar', {'id': confiRed.id}) }}" title="Eliminar configuración" class="icono"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p>No dispone de configuraciones de red.</p>
            </div>
        {% endif %}
    </article>

    <article class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Dispositivos de red</h3>
            {% if is_granted("DISPOSITIVO_RED_CREAR") %}
                <a href="{{ path('dispositivo_servicio_nuevo', {'id': empresa.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo dispositivo de red</a>
            {% endif %}
        </div>
        {% if dispositivos is defined and dispositivos is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>IP</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for dispositivo in dispositivos %}
                    <tr>
                        <td>{{ dispositivo.tipo }}</td>
                        <td>{{ dispositivo.ip }}</td>
                        <td>
                            {% if is_granted('DISPOSITIVO_RED_VER', dispositivo) %}
                                <a href="{{ path('dispositivo_servicio_detalles', {'id': dispositivo.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                            {% endif %}
                            {% if is_granted("DISPOSITIVO_RED_EDITAR", dispositivo) %}
                                <a href="{{ path('dispositivo_servicio_editar', {'id': dispositivo.id}) }}" title="Editar dispositivo" class="icono"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN')%}
                                <a href="{{ path('dispositivo_servicio_eliminar', {'id': dispositivo.id}) }}" title="Eliminar dispositivo" class="icono"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p>No dispone de dispositivos de red.</p>
            </div>
        {% endif %}
    </article>


    <article class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Servidores</h3>
            {% if is_granted('SERVIDOR_CREAR') %}
                <a href="{{ path('servidor_servicio_nuevo', {'id': empresa.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo servidor</a>
            {% endif %}
        </div>
        {% if servidores is defined and servidores is not empty %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>IP</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for servidor in servidores %}
                    <tr>
                        <td>{{ servidor.nombre }}</td>
                        <td>{{ servidor.ip }}</td>
                        <td>
                            {% if is_granted('SERVIDOR_VER', servidor) %}
                                <a href="{{ path('servidor_servicio_detalles', {'id': servidor.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                            {% endif %}
                            {% if is_granted('SERVIDOR_EDITAR', servidor) %}
                                <a href="{{ path('servidor_servicio_editar', {'id': servidor.id}) }}" title="Editar servidor" class="icono"><i class="fas fa-pencil-alt"></i></a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN')%}
                                <a href="{{ path('servidor_servicio_eliminar', {'id': servidor.id}) }}" title="Eliminar servidor" class="icono"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="panel-body">
                <p>No dispone de servidores.</p>
            </div>
        {% endif %}
    </article>

    <article class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Softwares</h3>
            {% if is_granted('SOFTWARE_CREAR') %}
                <a href="{{ path('software_servicio_nuevo', {'id': empresa.id}) }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo software</a>
            {% endif %}
        </div>
            {% if softwares is defined and softwares is not empty %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Fecha de renovación</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for software in softwares %}
                        <tr>
                            <td>{{ software.nombre }}</td>
                            <td>{{ software.tipo }}</td>
                            <td>{{ software.fechaRenovacion|date('d/m/Y') }}</td>
                            <td>
                                {% if is_granted('SOFTWARE_VER', software) %}
                                    <a href="{{ path('software_servicio_detalles', {'id': software.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                                {% endif %}
                                {% if is_granted('SOFTWARE_EDITAR', software) %}
                                    <a href="{{ path('software_servicio_editar', {'id': software.id}) }}" title="Editar software" class="icono"><i class="fas fa-pencil-alt"></i></a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN')%}
                                    <a href="{{ path('software_servicio_eliminar', {'id': software.id}) }}" title="Eliminar software" class="icono"><i class="fa fa-trash"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="panel-body">
                    <p>No dispone de softwares instalados.</p>
                </div>
            {% endif %}
    </article>

{% endblock %}
