{% extends 'layout.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block content %}
    <h1>Servicios de la empresa {{ empresa.nombre }} </h1>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Softwares</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo software</a>
        </div>
        <div class="panel-body">
            {% if softwares is not empty %}
                {% for software in softwares %}
                    <p><strong>Nombre: </strong>{{ software.nombre }}</p>
                    <p><strong>Tipo: </strong>{{ software.tipo }}</p>
                    <p><strong>Fecha de renovación: </strong>{{ software.fechaRenovacion|date('d/m/Y') }}</p>
                {% endfor %}
            {% else %}
                <p>No dispone de softwares instalados.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Configuraciones de red</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva configuración de red</a>
        </div>
        <div class="panel-body">
            {% if confiRedes is not empty %}
                {% for confiRed in confiRedes %}
                    <p><strong>Dominio: </strong>{{ confiRed.dominio }}</p>
                {% endfor %}
            {% else %}
                <p>No dispone de configuraciones de red.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Servidores</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo servidor</a>
        </div>
        <div class="panel-body">
            {% if servidores is not empty %}
                {% for servidor in servidores %}
                    <p><strong>Nombre del servidor: </strong>{{ servidor.nombre }}</p>
                {% endfor %}
            {% else %}
                <p>No dispone de servidores.</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading encabezado">
            <h3>Routers</h3>
            <a href="{{ path('empresa_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo router</a>
        </div>
        <div class="panel-body">
            {% if routers is not empty %}
                {% for router in routers %}
                    <p><strong>IP del router: </strong>{{ router.ip }}</p>
                {% endfor %}
            {% else %}
                <p>No dispone de routers.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
