{% extends 'base.html.twig' %}

{% block body %}
    <header class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('inicio') }}">Mantresde</a>
            </div>
            <nav id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if app.request.attributes.get('_route') starts with 'empresa' %}active{% endif %}">
                        <a href="{{ path('empresa_listar') }}">Empresas</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'confired' %}active{% endif %}">
                        <a href="{{ path('confired_listar') }}">ConfiRedes</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'software' %}active{% endif %}">
                        <a href="{{ path('software_listar') }}">Softwares</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'dispositivo' %}active{% endif %}">
                        <a href="{{ path('dispositivo_listar') }}">Dispositivos</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'servidor' %}active{% endif %}">
                        <a href="{{ path('servidor_listar') }}">Servidores</a>
                    </li>
                    <li class="dropdown{% if app.request.attributes.get('_route') starts with 'tipo' %} active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Tipos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('tipo_software_listar') }}">Tipos de software</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('tipo_dispositivo_listar') }}">Tipos de dispositivo</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#"><i class="fas fa-user"></i> Conectado como {{ app.user }}</a>
                        </li>
                        <li><a href="{{ path('usuario_salir') }}"><i class="fa fa-sign-out-alt"></i> Salir</a></li>
                    {% else %}
                        <li><a href="{{ path('usuario_entrar') }}"><i class="fa fa-sign-in-alt"></i> Acceder</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {% for mensaje in app.flashes('info') %}
            <div class="alert alert-info">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ mensaje }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
{% endblock %}
