{% extends 'layout.html.twig' %}

{% block title %}Configuración{% endblock %}

{% block content %}
    <h1>{{ confired.id ? confired.dominio : 'Nueva configuración de red' }}</h1>
    {# Pendiente solucionar el tema del encabezado #}

    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            {% if empresa is not null %}
            <a href="{{ path('empresa_servicios_mostrar', {'id': empresa.id}) }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de servicios de la empresa</a>
            {% else %}
                <a href="{{ path('confired_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado de configuraciones de red</a>
            {% endif %}
            <button type="submit" class="btn btn-success">Guardar cambios</button>
        </div>
    </div>
    {{ form_end(formulario) }}

{% endblock %}