{% extends 'layout.html.twig' %}

{% block title %}Configuraciones de red{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de configuraciones de red</h1>
        <a href="{{ path('confired_crear') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva configuración de red</a>
    </div>

    {% if confiRedes is defined and confiRedes is not empty %}
    <table class="table table-bordered table-hover table-striped dt">
        <thead>
            <tr>
                <th>Editar</th>
                <th>Dominio</th>
                <th>Máscara de red</th>
                <th>IP fija externa</th>
                <th>DNS1</th>
                <th>DNS2</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for confi in confiRedes %}
            <tr>
                <td><a href="{{ path('confired_editar', {'id': confi.id}) }}" title="Editar configuración"><i class="fas fa-pencil-alt"></i></a></td>
                <td>{{ confi.dominio }}</td>
                <td>{{ confi.mascaraRed }}</td>
                <td>{{ confi.ipFijaExt }}</td>
                <td>{{ confi.dns1 }}</td>
                <td>{{ confi.dns2 }}</td>
                <td>{{ confi.empresa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay configuraciones que mostrar</p>
    {% endif %}
{% endblock %}
