{% extends 'layout.html.twig' %}

{% form_theme formulario 'form/form_row.html.twig' %}

{% block title %}Dispositivo de red{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3">
        <h1>{{ dispositivo.id ? 'Datos del dispotivo de red' : 'Nuevo dispositivo de red' }}</h1>
    </div>

    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}

    <div class="form-group row">
        <div class="col-sm-9 col-sm-offset-3">
            {% if not soloLectura %}
                <p>* Los campos marcados son obligatorios</p>
            {% endif %}
            <div class="botonera">
                {% if vengoDeEmpresa and not nuevo %}
                    <a href="{{ path('empresa_servicios_mostrar', {'id': dispositivo.empresa.id}) }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado</a>
                {% else %}
                    <a href="{{ path('dispositivo_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado</a>
                {% endif %}
                {% if not soloLectura %}
                    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Guardar cambios</button>
                    {% if dispositivo.id and is_granted("DISPOSITIVO_RED_ELIMINAR", dispositivo)%}
                        <a href="{{ path('dispositivo_eliminar', {'id': dispositivo.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(formulario) }}

{% endblock %}