{% extends 'layout.html.twig' %}

{% block title %}Dispositivos de red{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de dispositivos de red</h1>
        {% if is_granted("DISPOSITIVO_RED_CREAR") %}
            <a href="{{ path('dispositivo_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo dispositivo</a>
        {% endif %}
    </div>

    {% if dispositivos is defined and dispositivos is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm dt">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>IP</th>
                <th>Empresa</th>
                <th class="no">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dispositivo in dispositivos %}
            <tr>
                <td>{{ dispositivo.tipo }}</td>
                <td>{{ dispositivo.ip }}</td>
                <td>{{ dispositivo.empresa }}</td>
                <td>
                    {% if is_granted("DISPOSITIVO_RED_VER", dispositivo) %}
                        <a href="{{ path('dispositivo_detalles', {'id': dispositivo.id}) }}" title="Ver detalles" class="icono"><i class="far fa-eye"></i> </a>
                    {% endif %}
                    {% if is_granted("DISPOSITIVO_RED_EDITAR", dispositivo) %}
                        <a href="{{ path('dispositivo_editar', {'id': dispositivo.id}) }}" title="Editar dispositivo" class="icono"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('dispositivo_eliminar', {'id': dispositivo.id}) }}" title="Eliminar dispositivo" class="icono"><i class="fa fa-trash"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay dispositivos de red que mostrar</p>
    {% endif %}
{% endblock %}
