{% extends 'layout.html.twig' %}

{% block title %}Dispositivos de red{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Listado de dispositivos de red</h1>
        {% if is_granted("EMPRESA_CREAR") %}
        <a href="{{ path('dispositivo_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo dispositivo</a>
        {% endif %}
    </div>

    {% if dispositivos is defined and dispositivos is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm dt">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>IP</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>WEP</th>
                <th>Empresa</th>
                <th class="no"></th>
            </tr>
        </thead>
        <tbody>
            {% for dispositivo in dispositivos %}
            <tr>
                <td>{{ dispositivo.tipo }}</td>
                <td>{{ dispositivo.ip }}</td>
                <td>{{ dispositivo.usuario }}</td>
                <td>{{ dispositivo.password }}</td>
                <td>{{ dispositivo.wep }}</td>
                <td>{{ dispositivo.empresa }}</td>
                <td>
                    {% if is_granted("DISPOSITIVO_RED_EDITAR", dispositivo) %}
                    <a href="{{ path('dispositivo_editar', {'id': dispositivo.id}) }}" title="Editar dispositivo"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay dispositivos que mostrar</p>
    {% endif %}
{% endblock %}
