{% extends 'layout.html.twig' %}

{% block title %}Router{% endblock %}

{% block content %}
    <h1>Listado de routers</h1>

    {% if routers is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm">
        <thead>
            <tr>
                <th>IP</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>WEP</th>
                <!--<th>Puntos de acceso</th>-->
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for router in routers %}
            <tr>
                <td>{{ router.ip }}</td>
                <td>{{ router.usuario }}</td>
                <td>{{ router.password }}</td>
                <td>{{ router.wep }}</td>

                <td>{{ router.empresa }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay routers que mostrar</p>
    {% endif %}
{% endblock %}
