{% extends 'layout.html.twig' %}

{% block title %}PtoAcceso{% endblock %}

{% block content %}
    <h1>Listado de puntos de acceso de routers</h1>

    {% if ptosAcceso is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm">
        <thead>
            <tr>
                <th>IP</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>WEP</th>
                <th>Router</th>
            </tr>
        </thead>
        <tbody>
            {% for ptoAcceso in ptosAcceso %}
            <tr>
                <td>{{ ptoAcceso.ip }}</td>
                <td>{{ ptoAcceso.usuario }}</td>
                <td>{{ ptoAcceso.password }}</td>
                <td>{{ ptoAcceso.wep }}</td>
                <td>{{ ptoAcceso.router }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay puntos de acceso que mostrar</p>
    {% endif %}
{% endblock %}
